// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-fresh.min.css";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/dist/css/bootstrap.min.css";


//SweetAlert
@import "~sweetalert2/dist/sweetalert2.css";

@import '~vue-select/dist/vue-select.css';



.box-header {
    position:absolute;
    left:0;
    width:100%;
    height:2px;
    background:#ccc;
}

.box-body {
    padding: 10px;
    width:100%;
    height:70vh;
    border-radius:4px;
    border:2px solid #ccc;
    position:relative;
}

.box {
    padding: 20px;
}
